$colorIcons: #0F1327;
$azulMarca: #3A4EA5;
$azulMarcaClaro: #4058C2;

@mixin boxContent() {

    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &::before {
        position: absolute;
        top: -10%;
        left: -10%;
        z-index: -1;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: black;
        content: "";
        background: radial-gradient(circle, rgba(58, 78, 167, .1) 0%, transparent 70%);
        animation: gradientBlueCotent cubic-bezier(.61,.02,.48, 1) 20s infinite;

        @keyframes gradientBlueCotent {
            0% {
                top: -10%;
                left: -10%;
            } 25% {
                top: 80%;
                left: -10%;
            } 50% {
                top: 80%;
                left: 80%;
            } 75% {
                top: -10%;
                left: 80%;
            } 100% {
                top: -10%;
                left: -10%;           
            }
        }
    }

    &::after {
        position: absolute;
        bottom: -10%;
        right: -10%;
        z-index: -1;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: black;
        content: "";
        background: radial-gradient(circle, rgba(58, 167, 100, .1) 0%, transparent 70%);
        animation: gradientGreenContent cubic-bezier(.61,.02,.48,1) 20s infinite;

        @keyframes gradientGreenContent {
            0% {
                bottom: -10%;
                right: -10%;
            } 25% {
                bottom: 80%;
                right: -10%;
            } 50% {
                bottom: 80%;
                right: 80%;
            } 75% {
                bottom: -10%;
                right: 80%;
            } 100% {
                bottom: -10%;
                right: -10%;           
            }
        }
    }

    &-info {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        &-picture {
            width: 50%;
            height: auto;

            & img {
                width: 100%;
                height: auto;
                object-fit: contain;
                image-rendering: crisp-edges;
            }
        }

        &-title {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            font-family: "Montserrat", sans-serif;
            font-size: 3rem;
            font-weight: 700;
            color: #1B1B1B;

            & span {
                color: $azulMarca;
            }
        }

        &-subtitle {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            font-family: "Montserrat", sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            color: #1B1B1B;

            & span {
                color: $azulMarca;
            }
        }

        &-text {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-family: "Open Sans", sans-serif;
            font-size: 1.5rem;
            color: #000000;

            & p {
                font-weight: 500;
            }
        }

        &-button {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-cta {
                width: 100%;
                height: auto;
                border-radius: 1.5rem;
                padding: 1.5rem .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                color: #FFFFFF;
                background: linear-gradient(90deg, #3EE65C, #2CD44C);
                font-family: "Roboto Slab", sans-serif;
                text-decoration: none;
                outline: none;
                transition: all .25s cubic-bezier(.42,0,.37,.99);

                &:hover {
                    background-color: $azulMarcaClaro;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }

                & span {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #FFFFFF;
                }

                & svg {
                    width: 2rem;
                    height: auto;
                    object-fit: contain;
                    fill: #FFFFFF;
                }
            }
        }
        
    }

    &-picture {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 4rem;

        & img {
            width: 100%;
            height: auto;
            border-radius: 2rem;
            object-fit: contain;
            image-rendering: crisp-edges;
            animation: imageLevitate 5s cubic-bezier(.61,.02,.48,1) infinite;

            @keyframes imageLevitate {
                0% {
                    transform: translateY(0);
                } 50% {
                    transform: translateY(-1%);
                } 100% {
                    transform: translateY(0);
                }
            }
        }
    }

    @media(min-width: 1200px) {
        width: 90%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        padding: 4vw 0;
        display: grid;
        grid-template-columns: 5fr 6fr;
        grid-auto-rows: auto;
        gap: 4vw;

        &::before {
            width: 30vw;
            height: 30vw;
        }

        &::after {
            width: 30vw;
            height: 30vw;
        }

        &-info, &-picture {
            width: 100%;
        }

        &-info {

            &-picture {
                width: 15vw;
            }

            &-title {
                margin-top: 2vw;
                font-size: 3.5vw;
                line-height: 3.5vw;
            }

            &-subtitle {
                margin-top: 2.5vw;
                font-size: 2vw;
                font-weight: 700;
                color: #1B1B1B;

                & span {
                    color: $azulMarca;
                }
            }

            &-text {
                width: 90%;
                margin-top: 2.5vw;
                gap: 2vw;
                font-size: 1.25vw;
                font-weight: 500;
            }

            &-button {
                width: 100%;
                height: auto;
                margin-top: 2.5vw;

                &-cta {
                    width: 22.5vw;
                    border-radius: 1.5vw;
                    padding: 1vw .5vw;
                    gap: 1vw;

                    & span {
                        font-size: 1.2vw;
                    }

                    & svg {
                        width: 2vw;
                    }
                }
            }

        }

        &-picture {
            & img {
                border-radius: 2vw;
            }
        }
    }

}

@mixin boxRevertContent() {

    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    overflow: visible;

    &-info {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-picture {
            width: 50%;
            height: auto;

            & img {
                width: 100%;
                height: auto;
                object-fit: contain;
                image-rendering: crisp-edges;
            }
        }

        &-title {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            font-family: "Montserrat", sans-serif;
            font-size: 3rem;
            font-weight: 700;
            text-align: right;
            color: #1B1B1B;

            & span {
                color: $azulMarca;
            }
        }

        &-subtitle {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            font-family: "Montserrat", sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: right;
            color: #1B1B1B;

            & span {
                color: $azulMarca;
            }
        }

        &-text {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-family: "Open Sans", sans-serif;
            font-size: 1.5rem;
            text-align: right;
            color: #000000;

            & p {
                font-weight: 500;
            }
        }

        &-button {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &-cta {
                width: 100%;
                height: auto;
                border-radius: 1.5rem;
                padding: 1.5rem .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                color: #FFFFFF;
                background: linear-gradient(90deg, #3EE65C, #2CD44C);
                font-family: "Roboto Slab", sans-serif;
                text-decoration: none;
                outline: none;
                transition: all .25s cubic-bezier(.42,0,.37,.99);

                &:hover {
                    background-color: $azulMarcaClaro;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }

                & span {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #FFFFFF;
                }

                & svg {
                    width: 2rem;
                    height: auto;
                    object-fit: contain;
                    fill: #FFFFFF;
                }
            }
        }
        
    }

    &-picture {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 4rem;

        & img {
            width: 100%;
            height: auto;
            border-radius: 2rem;
            object-fit: contain;
            image-rendering: crisp-edges;
            animation: imageLevitate 5s cubic-bezier(.61,.02,.48,1) infinite;

            @keyframes imageLevitate {
                0% {
                    transform: translateY(0);
                } 50% {
                    transform: translateY(-1%);
                } 100% {
                    transform: translateY(0);
                }
            }
        }
    }

    @media(min-width: 1200px) {
        width: 90%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        padding: 4vw 0;
        display: grid;
        grid-template-columns: 6fr 5fr;
        grid-auto-rows: auto;
        gap: 4vw;

        &-info, &-picture {
            width: 100%;
        }

        &-info {

            order: 2;

            &-picture {
                width: 15vw;
            }

            &-title {
                margin-top: 2vw;
                font-size: 3.5vw;
                line-height: 3.5vw;
            }

            &-subtitle {
                margin-top: 2.5vw;
                font-size: 2vw;
                font-weight: 700;
                color: #1B1B1B;

                & span {
                    color: $azulMarca;
                }
            }

            &-text {
                width: 90%;
                margin-top: 2.5vw;
                gap: 2vw;
                font-size: 1.25vw;
                font-weight: 500;
            }

            &-button {
                width: 100%;
                height: auto;
                margin-top: 2.5vw;

                &-cta {
                    width: 22.5vw;
                    border-radius: 1.5vw;
                    padding: 1vw .5vw;
                    gap: 1vw;

                    & span {
                        font-size: 1.2vw;
                    }

                    & svg {
                        width: 2vw;
                    }
                }
            }

        }

        &-picture {

            order: 1;

            & img {
                border-radius: 2vw;
            }
        }
    }

}