@import "./mixins";

$colorIcons: #0F1327;
$azulMarca: #3A4EA5;
$azulMarcaClaro: #4058C2;

.pdexgroup__about {
    @include boxContent();
}

.pdexgroup__about-quality {
    @include boxRevertContent();

    &-info-button-cta {
        background: $azulMarca;
    }
}