$colorIcons: #FFFFFF;
$azulMarca: #3A4EA5;
$azulMarcaClaro: #4058C2;
$bgHome: #FFFFFF;

@import "./mixins";

.pdexgroup__cards {
    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#131313, #000000);   
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.25);
    }

    &-video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        mask-image: linear-gradient(transparent, rgba(0,0,0) 30%, transparent);
    }

    &-info {
        position: relative;
        z-index: 10;
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        &-title {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            font-family: "Montserrat", sans-serif;
            font-size: 3rem;
            font-weight: 700;
            color: #FFFFFF;

            & span {
                color: $azulMarca;
            }
        }
        
    }

    &-slider {
        position: relative;
        z-index: 10;
        width: 100%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        margin-top: 2rem;
        padding: .5rem 10%;
        display: flex;
        gap: 2rem;
        overflow-x: scroll;
        overscroll-behavior-x: auto;
        scroll-snap-type: x proximity;

        &-card {
            position: relative;
            z-index: 0;
            min-width: 280px;
            height: 450px;
            border: solid 1rem #FFFFFF;
            border-radius: 2rem;
            padding: 3rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            scroll-snap-align: center;
            // background-color: #FFFFFF;
            box-shadow: 0 0 .5rem rgba(0,0,0,.25);
            overflow: hidden;

            &::before {
                position: absolute;
                top: -10%;
                left: -10%;
                z-index: -1;
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                background-color: black;
                content: "";
                background: radial-gradient(circle, rgba(58, 78, 167, .1) 0%, transparent 70%);
                animation: gradientBlue cubic-bezier(.61,.02,.48,1) 20s infinite;

                @keyframes gradientBlue {
                    0% {
                        top: -10%;
                        left: -10%;
                    } 25% {
                        top: 55%;
                        left: -10%;
                    } 50% {
                        top: 55%;
                        left: 55%;
                    } 75% {
                        top: -10%;
                        left: 55%;
                    } 100% {
                        top: -10%;
                        left: -10%;           
                    }
                }
            }

            &::after {
                position: absolute;
                bottom: -10%;
                right: -10%;
                z-index: -1;
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                background-color: black;
                content: "";
                background: radial-gradient(circle, rgba(58, 167, 100, .1) 0%, transparent 70%);
                animation: gradientGreen cubic-bezier(.61,.02,.48,1) 20s infinite;

                @keyframes gradientGreen {
                    0% {
                        bottom: -10%;
                        right: -10%;
                    } 25% {
                        bottom: 55%;
                        right: -10%;
                    } 50% {
                        bottom: 55%;
                        right: 55%;
                    } 75% {
                        bottom: -10%;
                        right: 55%;
                    } 100% {
                        bottom: -10%;
                        right: -10%;           
                    }
                }
            }

            & > svg {
                width: 6rem;
                height: 8rem;
                margin: 0 auto;
                display: inline-block;
                fill: #FFFFFF;
            }

            &-title {
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                & h3 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 2rem;
                    text-align: center;
                    color: #FFFFFF;
                }

                & a, & span {
                    display: inline-block;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    font-size: 1.3rem;
                    text-align: center;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all .2s ease-in-out;

                    &:hover {
                        font-weight: 700;
                        color: #FFFFFF;
                    }
                }
            }

            &-text {
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-top: 2rem;
                
                & p {
                    width: 100%;
                    height: auto;
                    display: inline-block;
                    font-family: "Roboto Slab", sans-serif;
                    font-weight: 300;
                    font-size: 1.8rem;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            &-more {
                width: 100%;
                height: auto;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                & a {
                    width: auto;
                    height: auto;
                    border: solid .25rem #f8f8f8;
                    border-radius: 1rem;
                    padding: 1rem 2rem;
                    color: #f8f8f8;
                    font-family: "Roboto Slab", sans-serif;
                    font-weight: 500;
                    font-size: 1.5rem;
                    text-decoration: none;
                    text-align: center;
                }
            }

        }
    }

}

@media(min-width: 1200px) {

.pdexgroup__cards {
    padding: 4vw 0;

    &-info {
        &-title {
            font-size: 3.5vw;
            font-weight: 600;
            text-align: center;
        }
        
    }

    &-slider {
        width: 90%;
        margin: 0 auto;
        margin-top: 2vw;
        padding: .5vw 0;
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        gap: 2vw;
        overflow-x: hidden;
        box-shadow: none;

        &-card {
            width: 90%;
            min-width: 260px;
            height: auto;
            min-height: 400px;
            margin: 0 auto;
            border: solid .5vw #f8f8f8;
            border-radius: 2vw;
            padding: 2vw 1.25vw;

            &::before {
                width: 15vw;
                height: 15vw;
            }

            &::after {
                width: 15vw;
                height: 15vw;
            }

            & > svg {
                width: 4vw;
                height: 6vw;
            }

            &-title {
                margin-top: 1.5vw;
                gap: .5vw;

                & h3 {
                    font-size: 1.3vw;
                }

                & a, & span {
                    font-size: 1vw;
                }
            }

            &-text {
                margin-top: 1.5vw;
                
                & p {
                    font-size: 1.05vw;
                    font-weight: 400;
                }
            }

            &-more {
                margin-top: 1.5vw;

                & a {
                    border: solid .25vw #f8f8f8;
                    border-radius: 1vw;
                    padding: 1vw 2vw;
                    font-size: 1.1vw;
                }
            }
        }
    }

}

}