.contact-us {

    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;   
    gap: 2rem;

    &-article {
        width: 90%;
        min-width: 250px;
        max-width: 320px;
        margin: 0 auto;
        border: solid .2rem #e4e4e4;
        border-radius: 2rem;
        padding: 2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        background-color: #FFFFFF;

        &-picture {
            width: 40%;
            height: auto;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 100%;
                height: auto;
                object-fit: contain;
                image-rendering: crisp-edges;
            }
        }

        &-title {
            margin: 0 auto;
            margin-top: 2rem;
            font-size: 2.5rem;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            color: #131313;
            text-align: center;
        }

        &-subtitle {
            font-size: 1.8rem;
            font-weight: 500;
            font-family: "Open Sans", sans-serif;
            color: #131313;
            text-align: center;
        }

        &-text {
            font-size: 1.5rem;
            font-weight: 500;
            font-family: "Roboto Slab", sans-serif;
            color: #131313;
            text-align: center;
        }

        &-link {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: "Open Sans", sans-serif;
            text-align: center;

            & a {
                color: #131313;
                text-decoration: none;
            }
            
        }

    }

}

@media(min-width: 1200px) {

.contact-us {
    width: 90%;
    margin: 0 auto;
    padding: 4vw 0;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-auto-rows: auto;
    gap: 4vw;

    &-article {
        width: 95%;
        max-width: 20vw;
        min-height: 350px;
        border: solid .2vw #e4e4e4;
        border-radius: 1vw;
        padding: 2vw 1vw;
        gap: .5vw;

        &-picture {
            width: 30%;
            height: auto;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 100%;
                height: auto;
                object-fit: contain;
                image-rendering: crisp-edges;
            }
        }

        &-title {
            margin-top: 2vw;
            font-size: 1.5vw;
            text-align: center;
        }

        &-subtitle {
            font-size: 1.5vw;
            text-align: center;
        }

        &-text {
            font-size: 1vw;
            text-align: center;
        }

        &-link {
            font-size: 1vw;
            text-align: center;
        }

    }

}

}