$azulMarcaClaro: #4058C2;

.pdexgroup__mobile-header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    background-color: #FFFFFF;

    &-logo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & img {
            width: 120px;
            height: auto;
            object-fit: contain;
            display: inline-block;
        }
    }

    &-burger {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-button {
            position: relative;
            z-index: 0;
            width: 5rem;
            height: 5rem;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .85rem;
            background-color: transparent;

            & span {
                width: 100%;
                height: .6rem;
                border-radius: 2rem;
                background-color: $azulMarcaClaro;
                pointer-events: none;
                transition: all .2s ease-in-out;
            }
        }

        & .open {
            align-items: center;

            & span {
                position: absolute;
                width: 4rem;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.pdexgroup__mobile-menu {

    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Roboto Slab", sans-serif;
    color: #131313;
    background-color: #FFFFFF;

    & nav {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;

        & ul {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            box-sizing: border-box;
            list-style: none;

            & a {
                color: #131313;
                text-decoration: none;
            }
        }
    }

    &-phone {
        width: 100%;
        height: auto;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        gap: 2rem;

        & a {
            text-decoration: none;

            & img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: contain;
            }
        }
    }

}

.pdexgroup__desktop-header {

    display: none;

}

@media(min-width: 1200px) {

.pdexgroup__mobile-header {
    display: none;
}

.pdexgroup__desktop-header {

    width: 100%;
    height: auto;
    display: flex;
    background-color: #FFFFFF;

    &-content {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 2vw 0;
        display: grid;
        grid-template-columns: 2fr 7fr 3fr;
        grid-auto-rows: auto;
        align-items: center;
        gap: 2vw;

        &-logo {
            width: 100%;
            height: auto;

            & a {
                text-decoration: none;
            }

            & img {
                width: 70%;
                height: auto;
                image-rendering: crisp-edges;
                object-fit: contain;
            }
        }

        &-nav {
            width: 100%;
            height: auto;
            
            &-menu {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2vw;
                font-family: "Roboto Slab", sans-serif;
                font-weight: 500;
                font-size: 1.1vw;
                color: #131313;
                list-style: none;

                & li {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;

                    & a {
                        font-weight: 600;
                        color: #131313;
                        text-decoration: none;
                        transition: all .2s ease-in-out;

                        &:hover {
                            color: $azulMarcaClaro;
                        }
                    }
                }
            }
        }

        &-phone {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1vw;

            & img {
                width: 3vw;
                height: 3vw;
                object-fit: contain;
                image-rendering: crisp-edges;
            }

            & a {
                font-size: 1.1vw;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                color: #131313;
                text-decoration: none;
            }

            & a img {
                width: 2vw;
                height: 2vw;
                object-fit: contain;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

}
}

