.pdexgroup__mobile-header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
.pdexgroup__mobile-header-logo {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pdexgroup__mobile-header-logo img {
  width: 120px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
}
.pdexgroup__mobile-header-burger {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pdexgroup__mobile-header-burger-button {
  position: relative;
  z-index: 0;
  width: 5rem;
  height: 5rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.85rem;
  background-color: transparent;
}
.pdexgroup__mobile-header-burger-button span {
  width: 100%;
  height: 0.6rem;
  border-radius: 2rem;
  background-color: #4058C2;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pdexgroup__mobile-header-burger .open {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pdexgroup__mobile-header-burger .open span {
  position: absolute;
  width: 4rem;
}
.pdexgroup__mobile-header-burger .open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pdexgroup__mobile-header-burger .open span:nth-child(2) {
  display: none;
}
.pdexgroup__mobile-header-burger .open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pdexgroup__mobile-menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Roboto Slab", sans-serif;
  color: #131313;
  background-color: #FFFFFF;
}
.pdexgroup__mobile-menu nav {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.pdexgroup__mobile-menu nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}
.pdexgroup__mobile-menu nav ul a {
  color: #131313;
  text-decoration: none;
}
.pdexgroup__mobile-menu-phone {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.pdexgroup__mobile-menu-phone a {
  text-decoration: none;
}
.pdexgroup__mobile-menu-phone a img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pdexgroup__desktop-header {
  display: none;
}

@media (min-width: 1200px) {
  .pdexgroup__mobile-header {
    display: none;
  }
  .pdexgroup__desktop-header {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
  }
  .pdexgroup__desktop-header-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 2vw 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2vw 7fr 2vw 3fr;
    grid-template-columns: 2fr 7fr 3fr;
    grid-auto-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
  }
  .pdexgroup__desktop-header-content-logo {
    width: 100%;
    height: auto;
  }
  .pdexgroup__desktop-header-content-logo a {
    text-decoration: none;
  }
  .pdexgroup__desktop-header-content-logo img {
    width: 70%;
    height: auto;
    image-rendering: crisp-edges;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .pdexgroup__desktop-header-content-nav {
    width: 100%;
    height: auto;
  }
  .pdexgroup__desktop-header-content-nav-menu {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2vw;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    color: #131313;
    list-style: none;
  }
  .pdexgroup__desktop-header-content-nav-menu li {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .pdexgroup__desktop-header-content-nav-menu li a {
    font-weight: 600;
    color: #131313;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .pdexgroup__desktop-header-content-nav-menu li a:hover {
    color: #4058C2;
  }
  .pdexgroup__desktop-header-content-phone {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
  }
  .pdexgroup__desktop-header-content-phone img {
    width: 3vw;
    height: 3vw;
    -o-object-fit: contain;
       object-fit: contain;
    image-rendering: crisp-edges;
  }
  .pdexgroup__desktop-header-content-phone a {
    font-size: 1.1vw;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #131313;
    text-decoration: none;
  }
  .pdexgroup__desktop-header-content-phone a img {
    width: 2vw;
    height: 2vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .pdexgroup__desktop-header-content-phone a img:hover {
    cursor: pointer;
  }
}